:root {
    --body-background-color: #ffffff;
    --slate-color: #434455;
    --navy-blue-color: #2E2F42;
    --ocean-color: #404BBF;
    --iris-color: #4D5AE5;
    --cloud-color: #F4F4FD;
    --cornflower-color: #E7E9FC;
    --light-slate-color: #8E8F99;
    --green-color: #31D0AA;
    --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--navy-blue-color);
    background-color: var(--body-background-color);
}
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
input,
textarea {
    outline: none;
}
button {
    cursor: pointer;
}
/*------Hidden-------*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.part-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (min-width: 480px) {
    .container {
        margin: 0 auto;
    }
}
.link {
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--timing-function);
}

.link:hover,
.link:focus {
    color: var(--ocean-color);
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contact-link {
    color: var(--slate-color);
    transition: color var(--timing-function);
}

/*---------------Header-----------------*/
.page-header {
    padding-top: 24px;
    padding-bottom: 23px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--body-background-color);
    border-bottom: 1px solid var(--cornflower-color);
}

.header-container {
    display: flex;
}

.logo-part-one {
    color: var(--iris-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.logo-part-two-header {
    color: var(--navy-blue-color);
}

/*-----------Navigation----------------*/
.nav-link {
    font-weight: 500;
    color: var(--navy-blue-color);
    position: relative;
    transition: color var(--timing-function);
}
.nav-link-active {
    color: var(--ocean-color);
}
.nav-link::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: -27px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-color);
    pointer-events: none;
    transition: background-color var(--timing-function);
}
.nav-link:not(.nav-link-active)::after {
    background-color: transparent;
}
.nav-link:not(.nav-link-active):hover::after,
.nav-link:not(.nav-link-active):focus::after {
    background-color: var(--ocean-color);
    transition: background-color var(--timing-function);
}

/* -----------Mobile menu---------------- */
.menu-btn {
    padding: 0;
    margin-left: auto;
    line-height: 0;
    outline: none;
    border: none;
    background-color: transparent;
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 40px 40px;
    background-color: #ffffff;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms var(--timing-function);
    display: flex;
    flex-direction: column;
}
.menu-container.is-open {
    transform: translateX(0);
}
.menu-container .close-btn {
    top: 40px;
    right: 40px;
}
.menu-list {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
}
.current-menu-link {
    color: var(--navy-blue-color);
}
.menu-address-list {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menu-address-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.phone-number {
    font-weight: 600;
    font-size: 34px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--iris-color);
}
.menu-social-list {
    display: flex;
    align-items: center;
    gap: 56px;
}
.menu-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--iris-color);
    transition: background-color var(--timing-function);
}
.menu-social-link:hover,
.menu-social-link:focus {
    background-color: var(--ocean-color);
}
@media screen and (min-width: 320px) and (max-width: 427px) {
    .phone-number {
        font-size: 24px;
    }
    .menu-social-list {
        flex-wrap: wrap;
        gap: 26px;
    }
}
/*-------------Header Page---------------------*/

.studio-page-header {
    padding-top: 112px;
    padding-bottom: 112px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--navy-blue-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url('../images/studio/bg-image.jpg');
    text-align: center;
}
.page-header-title {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--body-background-color);
}
.page-header-btn {
    min-width: 169px;
    min-height: 56px;
    font-size: 16px;
    color: var(--body-background-color);
    background-color: var(--iris-color);
    padding: 16px 32px;
    border: none;
    transition: background-color var(--timing-function),
        box-shadow var(--timing-function);
}
.page-header-btn:hover,
.page-header-btn:focus {
    background-color: var(--ocean-color);
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .studio-page-header {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/studio/bg-image-mobile2@.jpg');
    }
}
/*-------------Features------------------ */
.features-card-item {
    padding-bottom: 72px;
}
.features-card-items {
    display: flex;
    flex-direction: column;
}
.features-card-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 8px;
}
.features-card-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.directions {
    display: none;
}
.team {
    background-color: var(--cloud-color);
}
.team-card-items {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
.team-card-item {
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--body-background-color);
}
/*-----------Social Links----------------*/
.team-card-social {
    display: flex;
    margin-top: 8px;
    gap: 24px;
}
.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.team-card-icons {
    background-color: var(--iris-color);
    border-radius: 50%;
    transition: background-color var(--timing-function);
}
.team-card-icons:hover,
.team-social-link:focus {
    background-color: var(--ocean-color);
}
.customers-company-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
}
.customers-company-list {
    margin-top: 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
}
.customers-company-icon {
    width: 190px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--light-slate-color);
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    transition: border-color var(--timing-function);
}
.customers-link:hover,
.customers-link:focus {
    border-color: var(--ocean-color);
}
.customers-company-logo {
    width: 110px;
    height: 56px;
    transition: fill var(--timing-function);
}
.customers-company-icon:hover,
.customers-company-icon:focus {
    fill: var(--ocean-color);
    border: 1px solid var(--ocean-color);
}

/* ----------------Portfolio----------------------*/
.portfolio-section {
    padding-top: 48px;
    padding-bottom: 48px;
}

/*------------Filter---------- */
.filter-btn {
    color: var(--iris-color);
    background-color: var(--cloud-color);
    border: 1px solid var(--cornflower-color);
    padding: 8px 16px;
    transition: color var(---timing-function),
        background-color var(---timing-function), 
        box-shadow var(--timing-function),
        border-color var(--timing-function);
}
.filter-btn:hover,
.filter-btn:focus {
    color: var(--body-background-color);
    background-color: var(--ocean-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--ocean-color);
}
.filter-items {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    gap: 24px;
}
/*----------------Portfolio Cards-----------*/
.portfolio-card-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    gap: 48px;
}
.portfolio-card-item {
    background-color: var(--body-background-color);
}
.portfolio-card-link {
    display: block;
    width: 100%;
    height: 100%;
    transition: box-shadow var(--timing-function);
}
.portfolio-card-link:hover,
.portfolio-card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-title-link {
    color: var(--navy-blue-color);
}
.portfolio-card-image-wrapper {
    position: relative;
    overflow: hidden;
}
.portfolio-card-border {
    border-left: 1px solid var(--cornflower-color);
    border-right: 1px solid var(--cornflower-color);
    border-bottom: 1px solid var(--cornflower-color);
}
.portfolio-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--iris-color);
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    overflow-y: auto;
    transform: translate(0, 100%);
    transition: transform var(--timing-function);
}
.portfolio-card-link:hover .portfolio-card-overlay,
.portfolio-card-link:focus .portfolio-card-overlay {
    transform: translate(0, 0);
}
.portfolio-overlay-text {
    color: var(--cloud-color);
}
/*----Cards-----*/
.card-wrapper {
    padding: 32px 16px;
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%);
}
.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.card-descript {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
    margin-top: 8px;
}
/*--------Modal----------*/
.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--timing-function),
        visibility var(--timing-function);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    padding: 72px 24px 24px;
    background-color: rgba(252, 252, 252, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: box-shadow var(---timing-function);
}
.close-modal-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: var(--cornflower-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(---timing-function);
}
.close-modal-btn:hover,
.close-modal-btn:focus {
    background-color: var(--ocean-color);
    border: var(--ocean-color);
}
.close-modal-btn-icon:hover,
.close-modal-btn-icon:focus {
    transition: fill var(---timing-function);
}
.close-modal-btn:hover .close-modal-btn-icon,
.close-modal-btn:focus .close-modal-btn-icon {
    fill: var(--body-background-color);
}
.modal-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue-color);
}
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    position: relative;
}
.mobile-menu-btn-icon {
    stroke: var(--navy-blue-color);
}
.modal-name {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
}
.modal-phone,
.modal-mail,
.modal-comment {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    color: var(--light-slate-color);
}
.modal-icon {
    position: absolute;
    left: 16px;
    top: 31px;
    fill: #2E2F42;
    ;
}
.modal-input {
    width: 100%;
    font-size: 18px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.modal-input:focus {
    border-color: rgba(77, 90, 229, 1);
}
.modal-input:focus+svg {
    fill: rgba(77, 90, 229, 1);
}
.contact-input {
    height: 40px;
    padding-left: 38px;
}
.comment-input {
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}
.comment-box {
    margin-bottom: 16px;
}
.checkbox {
    margin-bottom: 24px;
    display: flex;
    align-items: flex-start;
}
.checkbox-icon {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.25px solid var(--navy-blue-color);
    border-radius: 2px;
    fill: none;
    cursor: pointer;
    transition: fill var(---timing-function),
        background-color var(---timing-function),
        box-shadow var(---timing-function);
}
.checkbox-input {
    margin-left: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #757575;
}
.modal-send-btn {
    margin: 0 auto;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    font-size: 16px;
    background: #4D5AE5;
    border: none;
    color: var(--body-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(---timing-function);
}
.modal-send-btn:hover,
.modal-send-btn:focus {
    background-color: var(--ocean-color);
}
.policy-check:checked+.checkbox-icon {
    border-color: transparent;
    background-color: var(--ocean-color);
    fill: var(--cloud-color);
}
.privacy-link {
    position: relative;
    text-decoration: underline;
    color: var(--iris-color);
}
.comment-box {
    margin-bottom: 16px;
}
.comment-input {
    height: 120px;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}
.private-policy-label {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}
/*-------------Footer--------------------- */
.footer-box-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-background-color);
}
.input-box-footer {
    display: inline-flex;
    margin-top: 16px;
}
.form-box {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.page-footer {
    background-color: var(--navy-blue-color);
    padding-top: 96px;
    padding-bottom: 96px;
}
.logo-part-two-footer {
    color: var(--cloud-color);
}
.footer-descript {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cornflower-color);
    margin-top: 16px;
}
.footer-container {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media-container {
    margin-top: 72px;
}
.social-media-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-background-color);
    text-align: center;
    margin-bottom: 16px;
}
.social-media {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.social-media-link {
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition: background-color var(--timing-function);
}
.social-media-link:hover,
.social-media-link:focus {
    background-color: var(--green-color);
}
.mail-subscribe {
    width: 398px;
    height: 40px;
    padding: 0 16px;
    background-color: transparent;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}
.mail-subscribe:focus-within {
    border-color: var(--iris-color);
}
.footer-box-label {
    margin-top: 72px;
    width: 100%;
}
.footer-box-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-background-color);
    text-align: center;
}
.subscribe-btn {
    width: 165px;
    height: 40px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--body-background-color);
    border-radius: 4px;
    background: var(--iris-color);
    transition: background-color var(--timing-function);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--ocean-color);
}
.subscribe-btn-icon {
    margin-left: auto;
    fill: var(--body-background-color);
}
.subscribe-icon {
    margin-left: auto;
    fill: var(--body-background-color);
}